
 <div class="d-flex flex-row justify-content-end">

 <div class="p-2">
  <span><%= link_to "Home", posts_path %> </span>
  </div>
 </div>
<div class="d-flex justify-content-center">
<h1><%= @model.title.capitalize %></h1>
</div>
<span class="d-flex justify-content-center"><%= @model.body %></span>

<div class="container post-container">
	
<div class="post-body">
	
</div>

  
 <div class="container">
  

  <% @model.replies.reverse.each do |reply| %>
   <div class="card-header mb-3">
    
  <p><%= reply.body %></p>
   <span class="font-italic">- <%= reply.name %><span>
    </div>
  <% end %>
  </div>
 
<%= render 'replies/form', post: @model %>


<div class="row justify-content-end">
	
<%= link_to "Delete post", post_path(@model), method: :delete , class: "btn btn-outline-danger"%>
</div>
</div>

