<!DOCTYPE html>
<html>
  <head>
    <title>BootPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
     <div class="d-flex flex-row justify-content-end p-2">
    <% if user_signed_in? %>
        <span c;ass="ml-3"><%= link_to "My Posts", user_posts_path(current_user.id) %></span>
        <span class="ml-3"><%= link_to "Home", posts_path %> </span>
        <span class="ml-3"> <%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
        <span class="ml-3"><%= link_to "Account", edit_user_registration_path %></span>
        
   <% else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
</div>
    <%= yield %>
    <div class="d-flex flex-row justify-content-end p-2 fixed-bottom">
    <%= link_to "create a post", new_post_path, class: "btn btn-outline-primary" %>
    </div>
  </body>
</html>
